<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Asesores</title>
        <!-- <link rel="Stylesheet" type="text/css" href="NoLogin.css"> -->
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- iconos js -->
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <!-- jqery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <a class="nav-link disabled" aria-current="page" id="mensaje">Bienvenido </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" id="encabezadoClientes" aria-current="page" href="index.php?c=Clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="encabezadoAsesores" href="index.php?c=asesores">Asesores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?c=citas">Citas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?c=cerrarSesion" tabindex="-1" aria-disabled="true">Cerrar Sesion</a>
            </li>
        </ul>


        <table class="table table-bordered border-primary" id="crearAsesor" style="display: none;">
          <thead>
            <th colspan="10">Crear Asesor</th>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Identificacion</th>
              <th scope="col">Tipo De Identificacion</th>
              <th scope="col">Años de experiencia</th>
              <th scope="col">Tipo de asesoria</th>
              <th scope="col">Contraseña</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody >
            <form>
            <tr>
              
              <td scope="col"><input type="text" class="form-control" id="nombre" name="nombre"  required>
                <div id="Snombre" class="form-text"></div></td>
              <td scope="col"><input type="number" class="form-control" id="identificacion" required>
                <div id="Sidentificacion" class="form-text"></div></td>
              <td scope="col"><select class="form-select"  id="tipoIdentificacion" required>
                <option selected value="">Tipo de Identificacion</option>
                <option value="Cedula">Cedula</option>
                <option value="DNI">DNI</option>
              </select></td>
              <td scope="col"><input type="number" class="form-control" id="ansExperiencia" min="0"  required>
                <div id="SansExperiencia" class="form-text"></div></td>
              <td scope="col"><select class="form-select" id="especialidad" required>
                <option selected value="">Selectione el tipo de asesoria</option>
                <option value="Asesoria laboral">Asesoria Laboral</option>
                <option value="Asesoria juridica">Asesoria Juridica</option>
                <option value="Asesoria Financiera">Asesoria Financiera</option>
            </select></td>
              <td scope="col"><input type="password" class="form-control" id="password" required>
                <div id="Spassword" class="form-text"></div></td>
              <td scope="col"><button type="button" id="btnAsesor" class="btn btn-primary" disabled>Crear</button></td>
            </tr>
            </form> 
            
          </tbody>
        </table>



        <table class="table table-bordered border-success" id="modificarAsesor"  style="display: none;">
          <thead>
            
            <th colspan="10">Modificar Datos</th>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Identificacion</th>
              <th scope="col">Años de experiencia</th>
              <th scope="col">Especialidad</th>
              <th scope="col">Nueva Contraseña</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody >
            <form>
              <tr>
                
                <td scope="col"><input type="text" class="form-control" id="nombreM" name="nombre"  required>
                  <div id="SnombreM" class="form-text"></div></td>
                <td scope="col"><input type="number" class="form-control" id="identificacionM" required disabled>
                  <div id="SidentificacionM" class="form-text"></div></td>
                <td scope="col"><input type="number" class="form-control" id="ansExperienciaM" required>
                  <div id="SansExperienciaM" class="form-text"></div></td>
                <td scope="col"><select class="form-select" id="especialidadM" required>
                  <option selected value="">*Selectione el tipo de asesoria*</option>
                  <option value="Asesoria laboral">Asesoria Laboral</option>
                  <option value="Asesoria juridica">Asesoria Juridica</option>
                  <option value="Asesoria Financiera">Asesoria Financiera</option>
              </select></td>
                <td scope="col"><input type="password" class="form-control" id="passwordM" required>
                  <div id="SpasswordM" class="form-text"></div></td>
                <td scope="col"><button type="button" id="btnAsesorM" class="btn btn-success" disabled>Modificar</button></td>
              </tr>
              </form> 
            
          </tbody>
        </table>

        
        <table class="table table-bordered border-dark" >
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Identificacion</th>
              <th scope="col">Tipo De Identificacion</th>
              <th scope="col">Años de experiencia</th>
              <th scope="col">Especialidad</th>
              <th scope="col">Hora Ingreso</th>
              <th scope="col">Hora Salida</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody id="registrosAsesores">
            
          </tbody>
        </table>
        
        </table>

        <script src="views/js/asesores.js"></script>
        <script src="views/js/barranavegacion.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- js para boostrap -->
    </body>
</html>