<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Citas</title>
        <!-- <link rel="Stylesheet" type="text/css" href="NoLogin.css"> -->
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- iconos js -->
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <!-- jqery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>

        <ul class="nav nav-tabs justify-content-center" id="barranav">
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" id="mensaje">Bienvenido </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" id="encabezadoClientes" aria-current="page" href="index.php?c=Clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="encabezadoAsesores" href="index.php?c=asesores">Asesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="index.php?c=citas">Citas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php?c=cerrarSesion" tabindex="-1" aria-disabled="true">Cerrar Sesion</a>
          </li>
        </ul>
    
        <table class="table table-bordered border-primary">
          <thead>
            <th colspan="10">Nueva Cita</th>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Hora inicio</th>
              <th scope="col">Hora Fin</th>
              <th scope="col">Asesor</th>
              <th scope="col">Cliente</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <form>
              <tr>
                <td scope="col"><input type="date" id="fecha"  required></td> <!-- min="2021-12-07" -->
                <td scope="col"><select class="form-select" id="HoraInicio" required></select></td>
                <td scope="col"><select class="form-select" id="HoraFin" required></select></td>
                <td scope="col"><input type="number" class="form-control" id="identificacionAsesor" required> 
                  <div id="SidentificacionAsesor" class="form-text"></div></td>
                <td scope="col"><input type="number" class="form-control" id="identificacionCliente" required>
                  <div id="SidentificacionCliente" class="form-text"></div></td>
                <td scope="col"><button type="button" id="btnCita" class="btn btn-primary" disabled>Crear</button></td>
              </tr>
              </form> 
          </tbody>
        </table>

        <table class="table table-bordered border-dark">
          <thead>
            <th colspan="10">Mis citas</th>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora inicio</th>
              <th scope="col">Hora Fin</th>
              <th scope="col">Identificacion Asesor</th>
              <th scope="col">Identificacion Cliente</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody id="misCitas">
          </tbody>
        </table>

        <script src="views/js/citas.js"></script>
        <script src="views/js/barranavegacion.js"></script>
        
    </body>
</html>