<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body>
        <form>
            <h2>Asesor</h2>
            <br><br><label for="nombre">nombre</label>
            <br><input type="text" id="nombre" name="nombre"  required>
            <br><span id="Snombre"></span>
            
            <br><br><label for="identificacion">identificacion</label>
            <br><input type="text" id="identificacion" name="identificacion"  required>
            <br><span id="Sidentificacion"></span>

            <br><br><label for="tipoIdentificacion">Tipo de Identificacion</label>
            <br><select name='tipoIdentificacion' id="tipoIdentificacion" required>
                <option selected value="">Tipo de Identificacion</option>
                <option value="Cedula">Cedula</option>
                <option value="DNI">DNI</option>
            </select>
            
            <br><br><label for="ansExperiencia">añosExperiencia</label>
            <br><input type="number" id="ansExperiencia" name="ansExperiencia"  required>
            <br><span id="SansExperiencia"></span>

            <br><br><label for="especialidad">especialidad</label>
            <br><select name='especialidad' id="especialidad" required>
                <option selected value="">Selectione el tipo de asesoria</option>
                <option value="Asesoria laboral">Asesoria Laboral</option>
                <option value="Asesoria juridica">Asesoria Juridica</option>
                <option value="Asesoria Financiera">Asesoria Financiera</option>
            </select>

            <br><br><label for="password">Contraseña</label>
            <br><input type="password" id="password" name="password"  required>
            <br><span id="Spassword"></span>

            <input  type="button" id="btnAsesor" name="btnAsesor" value="Registrarse" disabled>
        </form>

        <form action="index.php?c=registro" method="post">
            <h2>Cliente</h2>
            <br><br><label for="nombres">nombres</label><br>
            <br><input type="text" id="nombres" name="nombres"  required>

            <br><br><label for="apellidos">apellidos</label><br>
            <br><input type="text" id="apellidos" name="apellidos"  required>

            <br><br><label for="identificacionC">identificacion</label><br>
            <br><input type="text" id="identificacionC" name="identificacionC"  required>

            <br><br><label for="tipoIdentificacionC">tipoIdentificacion</label><br>
            <br><input type="text" id="tipoIdentificacionC" name="tipoIdentificacionC"  required>

            <br><br><label for="passwordC">Contraseña</label><br>
            <br><input type="passwordC" id="passwordC" name="passwordC"  required>

            <br><br><label for="ciudad">ciudad</label><br>
            <br><input type="textpassword" id="ciudad" name="ciudad"  required>

            <br><br><label for="pais">pais</label><br>
            <br><input type="textpassword" id="pais" name="pais"  required>

            <input  type="button" id="btnCliente" name="btnCliente" value="Registrarse" >
        </form>

        <span id="spanmaster"></span>
        <a href="index.php?c=login">Log in</a>

        <script src="views/js/registro.js"></script>


    </body>
</html>